/*
=============================
    _   ______  ____  ______
   / | / / __ \/ __ \/ ____/
  /  |/ / / / / / / / __/   
 / /|  / /_/ / /_/ / /___   
/_/ |_/\____/_____/_____/   

=============================
*/

body            {letter-spacing: 0.1px; padding: 0; margin: 0; font-family: 'Share Tech Mono', Monospace, Courier; 
                font-weight: 400; font-size: 17px; color: #c8c8c8; min-height: 100%; background: #222;}
html            {-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
pre             {padding: 0; margin: 0 0 50px 0;}
ul              {padding: 0;}
span            {padding: 0; margin: 0 10px 0 0;}
li              {margin: 15px 0; padding: 0; list-style: none;}
a               {text-decoration: none; color: #fff; transition-duration: 0.2s;}
a:hover         {color: #fff; font-weight:500; text-decoration: underline;}
p               {padding: 0; margin: 10px 0 30px 0;}
img             {max-width: 100%; margin-bottom: 20px;}
#page           {max-width: 100%; min-height: 100%; margin: auto; padding: 35px 60px;}
#content        {width: 100%;}
#header,#footer {width: 100%; overflow: hidden; letter-spacing: 0px;}
#list           {margin-bottom: 50px; margin-top: -30px;}
#post           {max-width: 720px; margin-bottom: 20px; margin-top: -10px; line-height: 28px;}
.categories		{max-width: 300px; right:0; margin: 40px 60px 0 0; position: fixed; background: #222;
				text-align: right; z-index: 0;}
@media 			all and (max-width: 1000px) and (min-width: 20px) {
.categories 	{visibility: hidden;}
.catbox			{visibility: hidden;}
}
.catbox			{width: 300px; height: 160px; right:0; margin:0; position: absolute; background: #222;
				display: block; z-index: 999;}
.footdogs       {margin:0 5px}
.tag            {color: #c8c8c8;}
.important      {margin-left: -18px;}
.title          {display: inline-block; margin-bottom: 20px; margin-top: 20px;}
.shoptitle      {display: inline-block; margin-bottom: 20px; margin-top: 20px; position: fixed;}
.subtitle       {display: inline-block; margin: 20px 0;}
.code           {max-width: 720px; background: #1f1f1f; padding: 20px; margin:10px 0 30px 0; display:inline-block;}
.shop           {max-width: 720px; margin: -10px 0 40px 0;}
.codesmall      {background: #1f1f1f; display:inline-block;}
.filter         {display:block; margin-bottom: 30px; margin-top: -20px;}
.node:hover     {text-decoration: none;}
.description    {background: #1f1f1f; padding: 10px 0 10px 10px; margin-top: 0px;}
.videowrapper   {position: relative; padding-bottom: 56.45%; height: 0;}
.videowrapper iframe {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(255,255,255,0);}